<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AutoSkola" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=AutoSkolaTest;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
  </connectionStrings>
</configuration>
